.navbar-default .navbar-brand > b {
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 1.4em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover  {
    color: #BA4A00;
}

a.label.label-default:hover {
    background-color: #BA4A00;
}

.label-default {
    font-size: 1em;
    color: #FBFCFC;
    background-color: #D0D3D4;
 }

.tab-headings {
    font-family: 'Bungee Shade',
}

.uh-branding-one {
    font-family: 'Cinzel', serif;
    font-size: 3em;
    font-style: normal;
}
.uh-branding-two {
    font-family: 'Cinzel', serif;
    font-size: 2.0em;
    font-style: normal;
}

.uh-branding-one-shadow {
    font-family: 'Cinzel', serif;
    font-size: 3em;
    font-style: normal;
    text-shadow: 2px 2px 2px #aaa;
}
.uh-branding-two-shadow {
    font-family: 'Cinzel', serif;
    font-size: 2.0em;
    font-style: normal;
    text-shadow: 2px 2px 2px #aaa;
}

.uh-font-one {
    font-family: 'Playfair Display SC', serif;
    font-size: 2.5em;
    font-style: normal;
}
.uh-font-one-sm {
    font-family: 'Playfair Display SC', serif;
    font-size: 2.0em;
    font-style: normal;
}

.uh-font-two {
    font-family: 'EB Garamond', serif;
    font-size: 3.5em;
    font-style: normal;
    font-variant: small-caps;
}
.uh-font-two-sm {
    font-family: 'EB Garamond', serif;
    font-size: 2.9em;
    font-style: normal;
    font-variant: small-caps;
}

.uh-font-three {
    font-family: 'Bungee Shade', serif;
    font-size: 2.5em;
    font-style: normal;
}
.uh-font-three-sm {
    font-family: 'Bungee Shade', serif;
    font-size: 2.0em;
    font-style: normal;
}

.uh-font-four {
    font-family: 'Special Elite', cursive;
    font-size: 3.5em;
    font-style: normal;
}
.uh-font-four-sm {
    font-family: 'Special Elite', cursive;
    font-size: 3.0em;
    font-style: normal;
}

.uh-font-five {
    font-family: 'Monoton', serif;
    font-size: 3.1em;
    font-style: normal;
}
.uh-font-five-sm {
    font-family: 'Monoton', serif;
    font-size: 2.0em;
    font-style: normal;
}

.uh-font-six {
    font-family: 'Cormorant SC', serif;
    font-size: 3.5em;
    font-style: normal;
}
.uh-font-six-sm {
    font-family: 'Cormorant SC', serif;
    font-size: 2.8em;
    font-style: normal;
}

.uh-font-seven {
    font-family: 'Nosifer', cursive;
    font-size: 2.8em;
    font-style: normal;
}
.uh-font-seven-sm {
    font-family: 'Nosifer', cursive;
    font-size: 2.3em;
    font-style: normal;
}

.uh-font-eight {
    font-family: 'Faster One', cursive;
    font-size: 3.0em;
    font-style: normal;
}
.uh-font-eight-sm {
    font-family: 'Faster One', cursive;
    font-size: 2.3em;
    font-style: normal;
}
