<!DOCTYPE html>
<html lang="en" ng-app="faveApp">
    <head>
        <title>Frank Duckart</title>

        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/fduckart.css">
        <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" rel="stylesheet">
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="js/fave-app.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <a class="navbar-brand" href=""><b>Frank Duckart</b>&nbsp;<i class="fa fa-lg fa-cogs" aria-hidden="true"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="https://github.com/fduckart" target="_duckartgithub">
                                <i class="fa fa-github fa-lg" aria-hidden="true"></i> GitHub
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.linkedin.com/in/fduckart" target="_fduckartlinkedin">
                                <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i> LinkedIn
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/duckart" target="_fduckartfacebook">
                                <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> Facebook
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" href="files/fduckart-resume.pdf" target="_fduckartresume">
                                <i class="fa fa-external-link-square fa-lg" aria-hidden="true"></i> Résumé
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="https://www.hawaii.edu/leave" target="_leave">Leave</a></li>
                                <li><a class="dropdown-item" href="https://www.hawaii.edu/paystub/gate" target="_paystub">Paystub</a></li>
                                <li><a class="dropdown-item" href="https://www.hawaii.edu/filedrop" target="_filedrop">Filedrop</a></li>
                                <li><a class="dropdown-item" href="https://www.hawaii.edu/its/ws/holiday" target="_holiday">Holidays</a></li>
                                <li class="divider"></li>
                                <li><a class="dropdown-item" href="https://www.hawaii.edu/" target="_uh">UH</a></li>
                                <li><a class="dropdown-item" href="https://manoa.hawaii.edu/" target="_uhmanoa">UH Manoa</a></li>
                                <li class="divider"></li>
                                <li><a class="dropdown-item" href="https://www.flickr.com/photos/fduckart"  target="_fduckartflickr"><i class="fa fa-flickr fa-lg" aria-hidden="true"></i> Flickr</a></li>
                                <li><a class="dropdown-item" href="fonts.html" target="_fontexp">Fonts</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-2">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li role="tab" class="nav-item"><a href="#records" data-bs-toggle="tab" class="nav-link text-secondary active" id="records-tab">Records</a></li>
                <li role="tab" class="nav-item"><a href="#songs"   data-bs-toggle="tab" class="nav-link text-secondary"  id="songs-tab">Songs</a></li>
                <li role="tab" class="nav-item"><a href="#films"   data-bs-toggle="tab" class="nav-link text-secondary"  id="films-tab">Films</a></li>
                <li role="tab" class="nav-item"><a href="#books"   data-bs-toggle="tab" class="nav-link text-secondary"  id="books-tab">Books</a></li>
            </ul>
            <div id="fav-tab-content" class="tab-content"  style="padding-top: 0rem;">
                <div class="tab-pane container active" id="records">
                    <div class="card-block">
                        <h3 class="tab-headings">Favorite Albums</h3>
                        <p class="lead text-muted">
                            I have spent hours and hours listening to each and every one.
                        </p>
                        <table class="table lead" ng-controller="RecordJsController" ng-init="init()" ng-cloak="true">
                            <tr ng-repeat="record in records">
                                <td class="lead">{{record.title}}</td><td>&nbsp;</td><td>{{record.artist}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane container fade" id="films">
                    <div class="card-block">
                        <h3>Favorite Films</h3>
                        <p class="lead text-muted">
                            These are great films. Watch them.
                        </p>
                        <table class="table lead" ng-controller="FilmJsController" ng-init="init()" ng-cloak="true">
                            <tr ng-repeat="film in films">
                                <td class="lead">{{film.title}}</td>
                                <td>&nbsp;</td>
                                <td>{{film.director}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane container fade" id="books">
                    <div class="card-block">
                        <h3>Favorite Books</h3>
                        <p class="lead text-muted">
                            This odd mix of books make up my favorites.
                        </p>
                        <table class="table lead" ng-controller="BookJsController" ng-init="init()" ng-cloak="true">
                            <tr ng-repeat="book in books">
                                <td class="lead">{{book.title}}</td><td>&nbsp;</td><td>{{book.author}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane container fade" id="songs">
                    <div class="card-block">
                        <h3>Favorite Songs</h3>
                        <p class="lead text-muted">
                            My all time favorite songs.
                        </p>
                        <table class="table lead" ng-controller="SongJsController" ng-init="init()" ng-cloak="true">
                            <tr ng-repeat="song in songs">
                                <td class="lead">{{song.title}}</td><td>&nbsp;</td><td>{{song.artist}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
